*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1650px;
}

a{
    text-decoration: none;
    color: black;
}

.flex-container{
    display: flex;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.medium-width{
    width: 55%;
}

ul{
    list-style-type: none;
}

nav{
    height: 80px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-item, #logo-small{
    display: inline-block;
    padding: 25px 1rem;
    font-size: 1.05rem;
}

#logo-small{
    padding-top: 25px;
}

nav .nav-item{
    height: 80px;
}

nav ul .gray-hov:hover{
    background-color: #f2eee8;
}

.layover{
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 80px;
    left: 0;
    display: none;
}

.layover .feature{
    width: 90%;
    color: #b5cde0;
    padding: 1.2rem 3rem;
    text-shadow: 2px 2px #053358;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #051929;
    background-color: rgba(0, 0, 0, 0.7);
    top: 55%;
    left: 5%;
}

.gray-hov:hover .layover{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}


.left-nav li .drop-menu{
    background-color: #f2eee8;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 450px;
    height: 390px;
    display: none;
}

.menu-container{
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

.right-nav li .drop-menu{
    background-color: #f2eee8;
    z-index: 2;
    top: 100%;
    right: 0;
    width: 395px;
    height: 160px;
    display: none;
}

li div#function-drop{
    width: 300px;
    height: 450px;
}

li div#solution-drop{
    width: 230px;
    height: 270px;
}

li div#support-drop{
    width: 300px;
    height: 120px;
}

nav .nav-item:hover .drop-menu{
    display: block;
}

.menu-container .left-menu{
    width: 50%;
    height: 100%;
}

.drop-menu ul li{
    font-size: 0.8rem;
    padding: 0.54rem 1rem;
}

.drop-menu .ul-title{
    font-weight: 600;
}

.menu-container .right-menu{
    width: 50%;
    height: 100%;
}

li.menu-item:hover{
    background-color: #e8e2d7;
}

.one-menu{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

i.drop-icon{
    margin-top: 0.2rem;
    font-size: 1.5rem;
    height: 60%;
    color: #005eff;
    padding: 0.5rem 0.5rem;
    background-color: white;
    border-radius: 25%;
}

.one-menu span{
    padding-left: 1rem;
}

.blue-button{
    background-color: #0061ff;
    color: white;
    border: none;
}

.blue-button:hover{
    background-color: #297afe;
}

.nav-item>a{
    font-size: 1.05rem;
    padding: 0.5rem 1rem;
    color: black;
}

.nav-item a.blue-button{
    color: white;
}

#logo-small{
    vertical-align: middle;
    height: 80%;
}

.main-header{
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 80px;
}

.header-container{
    margin: 0 auto;
    width: 70%;
    bottom: -100px;
}

.header-container h1{
    font-size: 3.3rem;
    font-weight: 800;
    width: 80%;
    padding-left: 2.7rem;
    margin-bottom: 2.2rem;
}

.header-container>div{
    padding-left: 3rem;
}

.main-header.description{
    flex-basis: 30%;
    padding: 2rem 2.3rem;
    font-size: 1rem;
}

.description>a{
    margin: 2rem 0;
    padding: 0.9rem 1.2rem;
    font-size: 1rem;
    display: inline-block;
}

.fa-arrow-down{
    bottom: 20%;
    left: 15%;
    font-size: 3.15rem;
}

.main-header div.jumbotron{
    flex-basis: 70%;
}

.jumbotron img{
    width: 900px;
}

main h2{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.margin-card{
    margin-bottom: 2rem;
}

.business-plans{
    margin: 150px auto 0;
}

.title-check div{
    display: inline-block;
    padding-right: 2.5rem;
    margin-bottom: 2.5rem;
}

.plan-cards{
    justify-content: space-between;
}

.card-plan{
    width: calc((100% / 3) - 1.5rem);
    border: 2px solid #d0d0d3;
}

.plan-type{
    width: 100%;
    height: 43px;
    text-align: center;
    line-height: 2.7;
    border-bottom: 1px solid #d0d0d3;
}

.card-plan .plan-info,
.card-contact{
    padding: 1.5rem 1.5rem;
}

#margin-plus{
    margin-bottom: 4.4rem;
}

.business-plans h3{
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.business-plans p{
    margin-bottom: 0.7rem;
    font-size: 0.95rem;
}

.plan-info p.price{
    font-weight: bold;
    font-size: 0.9rem;
}

.plan-info ul li{
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.plan-info li span{
    padding-right: 0.3rem;
}

a.trial-button{
    padding: 0.8rem 2.7rem;
    font-size: 0.9rem;
    margin: 0 auto 1rem;
    display: block;
    text-align: center;
}

.small-divider{
    width: 30%;
    border: 1px solid lightgray;
    margin: 1rem 0;
}

.plan-info .highlights{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.fa-check{
    color: #005eff;
}

.contact-plan{
    margin-top: 2rem;
    border: 2px solid #d0d0d3;
}

.card-contact .left-card{
    flex-basis: 72%;
}

.card-contact .right-card{
    flex-basis: 28%;
}

.partner-contact{
    margin: 150px auto 0;
}

.partner-contact .partner-img{
    flex-basis: 60%;
}

.partner-img img{
    width: 550px;
    display: block;
    margin: 0 auto;
}

.partner-contact .partner-text{
    flex-basis: 40%;
    padding: 2rem;
}

.partner-text h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.partner-text a{
    padding: 0.6rem 1rem;
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.partner-text a:hover{
    background-color: #f0eeee;
}

.dropbox-operations{
    margin: 150px auto 0;
}

.operations-container{
    flex-wrap: wrap;
}

.operations-container .op-card{
    flex-basis: calc((100% / 3) - 2.4rem);
    margin: 0 1.2rem 0.8rem 1.2rem;
    padding: 0 1rem;
}

.op-card p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.image-card img{
    width: 100%;
    display: block;
}

.discover{
    margin: 150px auto 0;
    padding: 0 2rem;
}

.discover h2{
    width: 63%;
    font-size: 2.5rem;
}

.discover a{
    text-decoration: underline;
}

.partnership{
    background-color: rgb(167, 164, 164);
    margin-top: 150px;
}

.partnership>div{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.partnership .logos-part{
    flex-wrap: wrap;
}

.logos-part .box-logo{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.box-logo img{
    height: 15%;
}

#green-log{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

#bordeaux-log{
    background-color: #61082b;
}

#bordeaux-log img{
    height: 35%;
}

#light-blue-log{
    background-color: #0093ce;
}

#light-blue-log img{
    height: 12%;
}

.red-log{
    background-color: #ff1c1c;
}

#topps-log img{
    height: 22%;
}

#light-log{
    background-color: #b4d0e7;
}

#light-log img{
    height: 7%;
}

#blue-log{
    background-color: #0d2481;
}

#blue-log img{
    height: 25%;
}

#yellow-log{
    background-color: #ffd830;
}

#yellow-log img{
    height: 30%;
}

.partnership .logo-info{
    background-color: #f5f5f5;
    padding: 2.5rem;
}

.logo-info img{
    height: 15%;
    display: block;
}

.logo-info .logo-divider{
    width: 20%;
    border: 1px solid lightgray;
    margin: 2rem 0;
}

.free-trial{
    padding: 5rem 0;
    background-color: #b4d0e7;
}

.free-trial article{
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#trial div.text-part{
    flex-basis: 55%;
    color: #61072b;
}

#trial .button-part{
    flex-basis: 45%;
}

.button-part a{
    display: block;
    width: 55%;
    color: black;
    margin: 0 auto;
    font-size: 0.95rem;
    padding: 0.7rem 2.2rem;
    background-color: white;
    border: none;
}

.button-part a:hover{
    background-color: #f0eeee;
}

.questions article{
    margin: 100px auto;
}

.question-container h2{
    padding-bottom: 15px;
}

.question-container .row-quest{
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
}

.question-container p{
    line-height: 70px;
    font-weight: bold;
    font-size: 0.9rem;
}

.tools{
    background-color: black;
    color: white;

}

.footer-container{
    margin: 0 auto;
}

.footer-container .tool-list{
    margin-top: 7rem;
    flex-basis: calc(100% / 5);
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.tool-list ul li{
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.title-list{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.language{
    margin: 0 auto;
    padding: 2rem 0;
}

.language .row{
    width: 150px;
    border: 1px solid white;
    margin-bottom: 2rem;
}

.language .lang-ita{
    color: #9a9999;
}